.me-wrap {
  .has-login {
    .user-info {
      height: 150px;
      padding: 15px;
      &__top {
        width: 100%;
        height: 94px;
        display: flex;
        align-items: center;
        .avatar {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin-right: 10px;
        }
        .basic-info {
          width: 120px;
        }
        .ding {
          width: 70px;
          height: 30px;
          border: none
        }
      }
      &__bottom {
        height: 40px;
        display: flex;
        justify-content: space-between;
        .bottom-item {
          width: 25%;
          color: rgba(153, 153, 153, 1);
          font-size: 11px;
          line-height: 150%;
          text-align: center;
          &.tome {
            line-height: 40px;
          }
          &__val {
            color: rgba(80, 80, 80, 1);
            font-size: 13px;
            text-align: center;
          }
          text {
            display: block
          }
        }
      }
    }
    .logout {
      width: 90%;
      margin: 10px auto;
    }
  }
}

.login-wrap {
  .to-login {
    padding: 0 30px;
    .avatar {
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      image {
        width: 70px;
        height: 70px;
      }
    }
    .at-button {
      margin-top: 20px;
    }
  }
}

.lbf-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 5% 0 5%;
  .lbf-input {
    width: 100%;
    height: 40px;
    border: 1px solid #e4e4e4;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .at-icon {
      margin: 0 10px;
    }
    .at-input {
      width: calc(90% - 40px)
    }
    & + .lbf-input {
      margin-top: 10px;
    }
  }
  .lbf-btns {
    width: 100%;
    height: 60px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: rgba(102, 102, 102, 1);
    font-size: 12px;
    .at-button {
      width: 100%;
    }
  }
}